/*-----------------
    DEBUG
-----------------*/
/* .header-bottom {
    background-color: violet;
} */

/*-----------------
    COMMONS
-----------------*/
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

/*-----------------
    TYPOGRAPHY
-----------------*/
body {
    font-family: 'Roboto', sans-serif;
}

/*-----------------
    BUTTONS
-----------------*/
button {
    border: none;
    background-color: lightblue;
    color: inherit;
}

/*-----------------
    HEADER
-----------------*/
.header-top {
    background-color: black;
    padding: 8px 14px;
}

.sony-logo {
    max-height: 14px;
}

.ps-logo {
    width: 60px;
}

.header-bottom {
    padding-top: 12px;
    padding-bottom: 4px;
}

.hamburger-menu {
    font-size: 2em;
}

.header-bottom nav {
    display: none;
}

nav ul li{
    margin-left: 20px;
}

ul {
    margin: 0px;
    padding: 0;
}

.search-button img{
    height: 20px;
}

/*-----------------
    HERO
-----------------*/
.hero_container {
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 260px;
}

.hero_container img {
    height: 40px;
}

.hero-featured-img {
    display: block;
    width: 100%;
    border-radius: 1em;
}

/*-----------------
    FEATURED GAME
-----------------*/
.featured_game_container {
    height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 260px;
}

/*-----------------
    NEW GAMES
-----------------*/
.new-games img {
    border-radius: 1em;
}

/*-----------------
    RESPONSIVE
-----------------*/
@media screen and (min-width: 1400px) {

    .header-bottom nav {
        display: block;
    }

    .hamburger-menu {
        display: none;
    }
    
}