/*-----------------
    DEBUG
-----------------*/
.header-bottom {
    background-color: violet;
}

/*-----------------
    COMMONS
-----------------*/
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

li {
    list-style: none;
}

/*-----------------
    TYPOGRAPHY
-----------------*/
body {
    font-family: 'Roboto', sans-serif;
}

/*-----------------
    BUTTONS
-----------------*/
button {
    border: none;
    background-color: transparent;
    color: inherit;
}

/*-----------------
    HEADER
-----------------*/
.header-top {
    background-color: black;
    padding: 8px 14px;
}

.sony-logo {
    max-height: 14px;
}

.header-bottom {
    padding-top: 12px;
    padding-bottom: 4px;
}

.hamburger-menu {
    font-size: 2em;
}

.header-bottom nav {
    display: none;
}

nav ul li a{
    display: block;
    /* margin: 0 14px; */
}

ul {
    margin: 0 20px;
    padding: 0;
}



/*-----------------
    RESPONSIVE
-----------------*/
@media screen and (min-width: 1400px) {

    .header-bottom nav {
        display: block;
    }

    .hamburger-menu {
        display: none;
    }
    
}